/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    /* Standard Max Width */
    --max-width: 1280px;

    /* Colors */
    --light-background: #fff;
    --dark-background: #1f2937;
    --hero-main-text: #f9faf8;
    --hero-secondary-text: #e5e7eb;
    --header-logo-text: var(--hero-main-text);
    --header-link-text: var(--hero-secondary-text);
    --button: #3882f6;
    --button-hover: #3172dc;
    --button-active: #275cb1;
    --call-to-action-background: var(--button);
    --info-header-text: #1f2937;
    --info-text: rgb(78, 86, 97);
    --info-illustration-border: var(--button);
    --quote-background: var(--hero-secondary-text);
    --quote-text: var(var(--dark-background));
    --cta-card-background: var(--button);
    --cta-text: var(--light-background);
    --cta-button-text: var(--light-background);
    --cta-button-border: var(--light-background);
    --footer-text-color: var(--light-background);

    /* Font Size */
    --hero-main-text-size: 3rem;
    --hero-secondary-text-size: 1.125rem;
    --header-logo-text-size: 1.5rem;
    --info-header-text-size: 2.25rem;
    --quote-text-size: var(--info-header-text-size);
    --quote-caption-size: 1.25rem;
    --cta-text-header: 1.25rem;

    /* Font Weight */
    --hero-main-text-weight: 800;
    --info-header-text-weight: var(--hero-main-text-weight);
    --quote-text-weight: 200;
    --quote-caption-weight: 600;
    --cta-text-weight: 200;
    --cta-button-text-weight: 800;

    /* Font Style */
    --quote-text-style: italic;
    --quote-cite-style: normal;
}

/* Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Assign */
body,
button {
    font-family: 'Roboto', -apple-system, 'Helvetica Neue', Helvetica,
        sans-serif;
}

/* Body */
body {
    width: 100%;
    height: 100vh;
    background: var(--dark-background);
}

/* Header */
header {
    width: 100%;
    height: max-content;
    background-color: var(--dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    width: 100%;
    max-width: var(--max-width);
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25em;
}

header .logo {
    color: var(--header-logo-text);
    font-size: var(--header-logo-text-size);
    font-weight: var(--hero-main-text-weight);
    margin-right: 0.6rem;
    user-select: none;
}

header ul.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul.links li {
    margin: 0 0.7rem;
}

header a {
    color: var(--header-link-text);
    text-decoration: none;
}

header a:hover {
    color: var(--button);
}

header a:active {
    opacity: 0.8;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Hero */
.hero {
    width: 100%;
    background-color: var(--dark-background);
    padding: 3.5rem 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container {
    width: 100%;
    max-width: var(--max-width);
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    margin-bottom: 2rem;
}

.hero .hero-text {
    flex-grow: 1;
    max-width: 450px;
}

.hero .hero-text h1 {
    color: var(--hero-main-text);
    font-size: var(--hero-main-text-size);
    font-weight: var(--hero-main-text-weight);
    margin-bottom: 0.5rem;
}

.hero .hero-text p {
    color: var(--hero-secondary-text);
    font-size: var(--hero-secondary-text-size);
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero .hero-text button {
    background-color: var(--button);
    color: var(--hero-main-text);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.65rem 2.25rem;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.3s;
}

.hero .hero-text button:hover {
    background-color: var(--button-hover);
}

.hero .hero-text button:active {
    background-color: var(--button-active);
}

.hero .hero-image-placeholder {
    background-color: rgb(110, 116, 125);
    width: 450px;
    height: 240px;
    flex-grow: 1;
    max-width: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-left: 3rem;
}

.hero .hero-image-placeholder p {
    color: var(--hero-secondary-text);
}

/* Info */
.info {
    width: 100%;
    background-color: var(--light-background);
    padding: 3.5rem 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .container {
    width: 100%;
    max-width: var(--max-width);
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 1.25rem;
}

.info h2 {
    color: var(--info-header-text);
    font-size: var(--info-header-text-size);
    font-weight: var(--info-header-text-weight);
    margin-bottom: 1.8rem;
}

.info ul.illustrations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.info ul.illustrations-container li {
    max-width: 824px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: clamp(1rem, 2vw, 2rem);
}

.info ul.illustrations-container li .illustration {
    width: 150px;
    height: 150px;
    margin-bottom: 0.6rem;
    background-color: none;
    border: 3px solid var(--info-illustration-border);
    border-radius: 10px;
}

.info ul.illustrations-container li p {
    width: 150px;
    color: var(--info-text);
    text-align: center;
}

/* Quote */
.quote {
    width: 100%;
    background-color: var(--quote-background);
    padding: 3.5rem 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .container {
    width: 100%;
    max-width: var(--max-width);
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem 2rem;
}

.quote figure {
    color: var(--quote-text);
    max-width: 824px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.quote blockquote {
    font-size: var(--quote-text-size);
    font-weight: var(--quote-text-weight);
    font-style: var(--quote-text-style);
    margin-bottom: 0.8rem;
}

.quote figcaption {
    color: var(--quote-text);
    font-size: var(--quote-caption-size);
    font-weight: var(--quote-caption-weight);
}

.quote cite {
    font-style: var(--quote-cite-style);
    margin-right: 1rem;
}

/* Call To Action */
.cta {
    width: 100%;
    background-color: var(--light-background);
    padding: 3.5rem 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .container {
    width: 100%;
    max-width: var(--max-width);
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem 2rem;
}

.cta .card {
    background-color: var(--cta-card-background);
    padding: 2rem 5rem;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta .text {
    padding-right: 3rem;
    color: var(--cta-text);
}

.cta h3 {
    font-size: var(--cta-text-header);
    margin-bottom: 0.2rem;
}

.cta p {
    font-weight: var(--cta-text-weight);
}

.cta button {
    padding: 0.5rem 2rem;
    text-align: center;
    white-space: nowrap;
    background: none;
    border-radius: 9px;
    color: var(--cta-button-text);
    border: 2px solid var(--cta-button-border);
    font-size: var(--cta-button-text-size);
    font-weight: var(--cta-button-text-weight);
    cursor: pointer;
    transition: 0.3s;
}

.cta button:hover {
    transition: 0.4s;
    scale: 1.04;
}

/* Footer */
footer {
    width: 100%;
    height: max-content;
    background-color: var(--dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container {
    color: var(--footer-text-color);
    width: 100%;
    max-width: var(--max-width);
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 5rem;
}

footer a {
    color: var(--footer-text-color);
    text-decoration: none;
}

footer a:hover {
    opacity: 0.9;
}

footer a:active {
    opacity: 0.8;
}

footer a:visited {
    color: var(--footer-text-color);
    text-decoration: none;
}

@media screen and (max-width: 570px) {
    .cta .card {
        flex-direction: column;
    }

    .cta .text {
        padding-right: 0;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .hero .container {
        flex-direction: column;
    }

    .hero .hero-text {
        margin-bottom: 2.5rem;
    }

    .hero .hero-image-placeholder {
        width: 100%;
        margin-left: 0rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    footer .container {
        flex-direction: column;
    }

    footer .copyright {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .quote blockquote {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 388px) {
    header .container {
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .cta .container {
        padding: 0.2rem;
    }
    .cta .card {
        padding: 1rem;
    }
}
